@import '../../../styles/variables.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

.cards-list {
  .card {
    position: relative;
    .card-level {
      width: $cardSize;
      height: $cardSize * 0.25;
      position: absolute;
      top: 100%;
      @include type-colors;
      @include type-border;
      box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .3);
      display: flex;
      justify-content: space-evenly;
      margin-left: -4px;
      span {
        font-weight: bolder;
        line-height: calc(#{$cardSize * 0.25} - 8px);
        font-size: $cardSize * 0.125;
        color: $awakened;
        text-shadow: 1px 1px black;
        &.not-maxed {
          color: white;
        }
        &.maxed {
          color: yellow;
        }
      }
    }
  }
}